extends layout

block content
    h1=safe_title

    ul.meta
        li Randall Munroe
        li: time(datetime=`${year}-${month}-${day}`) #{year}&#x2011;#{month}&#x2011;#{day}
        li xkcd #{num}

    figure
        img(src=img, alt=`xkcd ${num}`, title=alt)
        figcaption=alt

    ul.tools
        li: a(href=`//explainxkcd.com/${num}`, target='_blank') Explain
        li: a(href=img, target='_blank', download) Download
        li: a(href=`//xkcd.com/${num}`) View on xkcd.com

    nav
        ul
            unless num == 1
                li: a(href='/1' first)
                    img(src='/img/icons/first.svg' alt='First' title='First')

                li: a(href=`/${num - 1}` prev)
                    img(src='/img/icons/previous.svg' alt='Previous' title='Previous')

            li: a(href='/random')
                img(src='/img/icons/random.svg' alt='Random' title='Random')

            unless isLatest
                li: a(href=`/${num + 1}` next)
                    img(src='/img/icons/next.svg' alt='Next' title='Next')

                li: a(href='/' last)
                    img(src='/img/icons/latest.svg' alt='Latest' title='Latest')


block footer
    small All comics are used under the&#x20;
        a(href='//creativecommons.org/licenses/by-nc/2.5') CC BY-NC 2.5&#x20;
        | license.

    br

    small Check out the source code for this website on&#x20;
        a(href='//github.com/shreyasminocha/xkcd-viewer') Github
        | .
