extends layout

block content
    h1=safe_title
    small Randall Munroe &middot; #{year}&#x2011;#{month}&#x2011;#{day} &middot; xkcd #{num}

    figure
        img(src=img, title=alt)
        figcaption=alt

    ul.tools
        li
            a(href=`//explainxkcd.com/${num}`, target='_blank') Explain
        li
            a(href=img, target='_blank', download) Download
        li
            a(href=`//xkcd.com/${num}`) View on xkcd.com

    nav
        ul
            li
                a(href='/1')
                    img(src='/img/icons/first.svg' alt='First' title='First')
            li
                a(href=`/${num - 1}`)
                    img(src='/img/icons/previous.svg' alt='Previous' title='Previous')
            li
                a(href='/random')
                    img(src='/img/icons/random.svg' alt='Random' title='Random')
            li
                a(href=`/${num + 1}`)
                    img(src='/img/icons/next.svg' alt='Next' title='Next')
            li
                a(href='/')
                    img(src='/img/icons/latest.svg' alt='Latest' title='Latest')
